<ul class="{{ name }}">
	{# <li>
		<h3>Contact</h3>
		<address>
			<p>{{ options.address }}<br>
			{{ options.city }}, {{ options.state }} {{ options.zip }}</p>
			<p><a href="tel:{{ options.phone|replace({'(':'',')':'',' ':'', '-':''}) }}">{{ options.phone }}</a></p>
			<p><a href="mailto:{{ options.email }}" >{{ options.email }}</a></p>
		</address>
	</li> #}
	{% for item in items %}
		<li>
			{% if item.link == '#' %}
				<h3 class="{{ item.classes|join(' ') }}">{{ item.title }}</h3>
			{% else %}
				<a target="{{ item.target }}" class="{{ item.classes|join(' ') }}" href="{{ item.link }}">{{ item.title }}</a>
			{% endif %}
			
			{% if item.children %}
				{% set column = 1 %}
				{% set row = 0 %}
				<ul class="{{ name }}-first-child {{ item.children|length > 3 ? 'break-on-three' : '' }}">
					{% for item in item.children %}
						{% set row = row + 1 %}
						{% if loop.index is divisible by(4) %}
							{% set column = column + 1 %}
							{% set row = 1 %}
						{% endif %}
						<li style="-ms-grid-column:{{ column }};-ms-grid-row:{{ row }};">
							<a target="{{ item.target }}" class="{{ item.classes|join(' ') }}" href="{{ item.link }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>