{% set level = level + 1 %}

{% if items|length %}
	<ul class="{{ name }} header-menu" data-level="{{ level }}" data-type="">
		{% for item in items %}
			<li class="{{ item.classes|join(' ') }} {% if item.children %} has-subnav {% endif %}" {% if item.children %}data-subnav-toggle="closed"{% endif %}>
	
				{% if item.children %}
					<div class="menu-heading-wrapper">

							{% if item.link == '#' %}
								<span class="menu-heading-title">{{ item.title }}</span>
							{% else %}
								<a class="menu-link" target="{{ item.target }}" href="{{ item.link }}"><span class="menu-heading-title">{{ item.title }}</span></a>
							{% endif %}

						<button class="subnav-toggle" aria-label="Expand Subnav"><i class="fas fa-chevron-down"></i></button>
					</div>

					<ul class="{{ name }} header-menu-child" data-level="{{ level }}" data-type="">
						{% for item in items %}
							<li class="{{ item.classes | join(' ') }}">
								<a class="mega-menu-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
								{% include 'blocks/menu-list/menu-list-mega.twig' with {'items': item.children} %}
							</li>
						{% endfor %}
					</ul>

				{% else %}
					<a class="menu-link" target="{{ item.target }}" href="{{ item.link }}"><span class="menu-heading-title">{{ item.title }}</span></a>
				{% endif %}
		
			</li>
		{% endfor %}
	</ul>
{% endif %}