{% if items|length %}
	<ul class="{{ name }} {{items|length == 1 ? 'single-nav-menu' : ''}}">
		{% for item in items %}
			<li class="{{ item.classes|join(' ') }}">
				<a class="menu-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }} </a>
			</li>
		{% endfor %}
	</ul>
{% endif %}