<nav id="footer-menu" class="footer-menu-wrapper container-lg">
	<div class="footer-top">
		<div class="footer-menu-logo">
			{% if is_internet_explorer() %}
				<img src="{{ fallback_logo_light_src() }}" alt="{{site.name}} Logo" loading="lazy"/>
			{% else %}
				<img src="{{ site_logo_src() }}" alt="{{site.name}} Logo" loading="lazy"/>
			{% endif %}
		</div>
		
		{% if menu.footerSocial %}
			<div class="footer-social-menu">
				<h3>Connect with Us</h3>
				{% include 'blocks/menu-list/menu-list.twig' with {items: menu.footerSocial.get_items, 'name': 'menu-footer-social'} %}
			</div>
		{% endif %}
	</div>
	

	{% if menu.footerNav %}
		{% include 'blocks/menu-list/menu-list-footer.twig' with {items: menu.footerNav.get_items, 'name': 'menu-footer-nav'} %}
	{% endif %}


	<div class="footer-bottom">
		<div class="footer-subtitle">
			<p> {{ site.name }} 
				{% if options.address and options.city and options.state and options.zip %}
					| {{ options.address }} {{ options.city }}, {{ options.state }} {{ options.zip }}
				{% endif %}
				{% if options.phone %}
					| <a href="tel:{{ options.phone|replace({'(':'',')':'','-':'',' ':''}) }}">{{ options.phone }}</a>
				{% endif %}
				{% if options.email %}
					| <a href="mailto:{{ options.email }}">{{ options.email }}</a>
				{% endif %}
			</p>
			<p class="footer-legal">
				&copy; {{"now"|date('Y')}} {{menu.footerNav.meta('footer_subtitle')}}
			</p>
		</div>
	</div>


</nav>

