<nav id="footer-menu" class="footer-menu-wrapper container-lg">
	<div class="footer-top">
		<div class="footer-menu-logo">
			{% if is_internet_explorer() %}
				<img src="{{ fallback_logo_light_src() }}" alt="{{site.name}} Logo" loading="lazy"/>
			{% else %}
				<img src="{{ site_logo_src() }}" alt="{{site.name}} Logo" loading="lazy"/>
			{% endif %}
		</div>
		
		{% if menu.footerSocial %}
			<div class="footer-social-menu">
				<h3>Connect with Us</h3>
				{% include 'blocks/menu-list/menu-list.twig' with {items: menu.footerSocial.get_items, 'name': 'menu-footer-social'} %}
			</div>
		{% endif %}
	</div>
	
	{% if menu.footerNav %}
		{% include 'blocks/menu-list/menu-list-footer.twig' with {items: menu.footerNav.get_items, 'name': 'menu-footer-nav'} %}
	{% endif %}

	<div class="footer-bottom {{  menu.footerNav.meta('footer_logos') ? 'with-logos' : '' }}" >
		{% if menu.footerNav.meta('footer_logos') %}
			<div class="footer-logos">
				{% for footer_logo in menu.footerNav.meta('footer_logos') %}
				
					{% set image = Image(footer_logo) %}
					<img src="{{ image.src }}" srcset="{{ image.srcset }}" alt="{{ image.alt ? image.alt : 'footer logo' }}" loading="lazy">
				{% endfor %}
			</div>
		{% endif %}
		<div class="footer-subtitle">
		{% if options.address and options.city and options.state and options.zip %}
			<p> {{ site.name  }} 
				{% if options.address and options.city and options.state and options.zip %}
					| {{ options.address }} {{ options.city }}, {{ options.state }} {{ options.zip }}
				{% endif %}
				{% if options.phone %}
					| <a href="tel:{{ options.phone|replace({'(':'',')':'','-':'',' ':''}) }}">{{ options.phone }}</a>
				{% endif %}
				{% if options.email %}
					| <a href="mailto:{{ options.email }}">{{ options.email }}</a>
				{% endif %}
			</p>
			{% endif %}
			
			{% if menu.footerNav.meta('footer_main') %}
				{{ menu.footerNav.meta('footer_main') }}
			{% endif %}
			<p class="footer-legal">
				&copy; {{"now"|date('Y')}} {{ site.name }}{{ menu.footerNav.meta('footer_subtitle') ? ' | ' : '' }}{{menu.footerNav.meta('footer_subtitle')}}
			</p>
		</div>
	</div>
</nav>
