{#
	Title: Expand Grid
	Description: Expand Grid
	Category: triumph-blocks
	Icon: grid-view
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leader partner service
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
	SupportsAnchor: true
	SupportsCustomClassName: true
#}
{% set list_type = fields.grid_style ? fields.grid_style : 'columns' %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'expand-grid' } %}
	{% block block_content %}
		{% if fields.intro_copy %}
			{% include 'blocks/intro-copy/intro-copy.twig' %}
		{% endif %}
		<ul class="content-{{ list_type }}-list" data-max-columns="{{ fields.grid_max_columns }}">
		{% for grid_item in fields.grid_items %}
			<li class="expand-grid-item" data-style="{{ fields.grid_item_style }}" data-image-style="{{ fields.grid_item_image_style }}">

				{% if grid_item.image or grid_item.icon %}
					<div class="grid-item-header">
						{% if grid_item.image %}
							{% set image = Image(grid_item.image) %}
							<img src="{{ image.src }}" srcset="{{ image.srcset }}" alt="{{ image.alt }}" loading="lazy" />
						{% endif %}

						{% if grid_item.icon %}
							{{ function('svg_code', grid_item.icon) }}
						{% endif %}	
					</div>
				{% endif %}

				{% if grid_item.copy %}
					<div class="grid-item-copy">
						{{ grid_item.copy }}
					</div>
				{% endif %}

				{% if grid_item.expanded_copy  %}
					<div class="grid-item-footer">
						<button class="expand-grid-trigger" data-expand-grid-toggle-id="{{ block.id }}-item-{{ loop.index }}">Show<span class="toggle-status"></span></button>
						<div id="{{ block.id }}-item-{{ loop.index }}" class="expanded-copy">
							{{ grid_item.expanded_copy }}
						</div>
					</div>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
    {% endblock %}
{% endembed %}
