{#
Title: Logo Carousel
Description: A sliding carousel to display a message and some logos
Category: triumph-blocks
Icon: thumbs-up
Keywords: 
Mode: edit
Align: left
PostTypes: post page account leader partner service
SupportsAlign: false
SupportsMode: false
SupportsMultiple: true
#}
{% set logo_count = fields.show_8_at_once ? 2 : 1 %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'logo-carousel' } %}
	{% block block_content %}
		<div class="logo-carousel-wrapper {{ fields.logos|length > show_total ? "active" : "" }} block full-width {{ block.classes ? block.classes : '' }}" {{ block.id ? 'data-' ~ block.id : '' }}>
			<div class="copy">
				{{ fields.copy }}
			</div>

			<div class="carousel" data-double="{{ fields.show_8_at_once ? 'true' : 'false' }}">
			
				{% for logo in fields.logos %}
					{% set image = Image(logo.logo) %}
					{% if loop.index0 is divisible by(logo_count) %}
						<div class="carousel-slide">
							<div class="logo-group">
					{% endif %}
							<div class="logo-wrapper">
								<img src="{{ image.src }}" srcset="{{ image.srcset }}" data-object-fit="contain"/>
							</div>
					{% if loop.index is divisible by(logo_count) or loop.last %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endblock %}
{% endembed %}