{#
  Title: Checkerboard
  Description: Image/Copy stacked on top of each other
  Category: triumph-blocks
  Icon: align-center
  Keywords: 
  Mode: edit
  Align: left
  PostTypes: post page account leadership partner service
  SupportsAlign: false
  SupportsMode: false
  SupportsMultiple: true
#}


{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'checkerboard'} %}
	{% block block_content %}
		{% for row in fields.rows %}
			{% set image = Image(row.image) %}
            <figure class="row" data-background-color="{{ row.background_color }}">
				<div class="image" data-pad="{{ fields.image_pad }}" >
					<img src="{{ image.src }}" srcset="{{ image.srcset }}" alt="{{ image.alt }}" data-object-fit="cover" />
				</div>
                <figcaption>
					<div class="checkerbard-copy-wrapper">
						{{row.copy}}
					</div>
				</figcaption>
            </figure>
        {% endfor %}
	{% endblock %}
{% endembed %}
