<div class="button-group app-icons" data-alignment="{{ alignment }}">
    <a target="_blank" rel="noreferrer" href="{{ options.apple_link }}">
        <img id="apple" src="{{ site.theme.link }}/assets/img/app-store.svg" />
    </a>
    <a target="_blank" rel="noreferrer" href="{{ options.google_link }}">
        <img id="google" src="{{ site.theme.link }}/assets/img/play-store.svg" />
    </a>
</div>

