{#
  Title: Content Gallery
  Description: 2-up gallery with image and copy
  Category: triumph-blocks
  Icon: images-alt2
  Keywords: 
  Mode: edit
  Align: left
  PostTypes: post page
  SupportsAlign: false
  SupportsMode: false
  SupportsMultiple: true
#}

{% set carousel = (fields.gallery|length > 1 ? true : false) %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'content-gallery' } %}
	{% block block_content %}
		<div class="slides {{ carousel ? 'carousel' : 'single' }}">
			{% for slide in fields.gallery %}
				<figure data-slide="slide-{{loop.index}}" class="slide {{ loop.index == 1 ? "active" : "" }} {{ slide.right_align_image ? 'right-image' : '' }}">
					<!-- Left Image -->
					{% if slide.right_align_image == false %}
						{% include 'blocks/content-gallery/image.twig' %}
					{% endif %}

					<!-- Text -->
					<figcaption data-background-color="{{ slide.background_color }}">
						<div class="copy">
							{{ slide.copy }}
							{% include 'blocks/content-gallery/links.twig' %}
						</div>
					</figcaption>

					<!-- Right Image -->
					{% if slide.right_align_image %}
						{% include 'blocks/content-gallery/image.twig' %}
					{% endif %}
				</figure>
			{% endfor %}
			{% if carousel %}
				<div class="tns-controls">
					<button class="inactive" type="button" data-controls="prev" tabindex="-1" aria-controls="tns1">
						<i class="far fa-lg fa-angle-left"></i><span class="hidden">Previous Slide</span>
					</button>
					<button type="button" data-controls="next" tabindex="-1" aria-controls="tns1">
						<i class="far fa-lg fa-angle-right"></i></i><span class="hidden">Next Slide</span>
					</button>
				</div>
			{% endif %}
		</div>
		{% if carousel %}
			<div class="navigation">
				<div class="dots-container"></div>
			</div>
		{% endif %}
	{% endblock %}
{% endembed %}