{#
	Title: Hero
	Description: Hero as either single image/content or carousel.
	Category: triumph-blocks
	Icon: format-image
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page partners
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
#}

{% if slides is not defined %}
	{% set slides = fields.slides %}
{% endif %}

{% set carousel = (slides|length > 1 ? true : false) %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'hero' } %}
	{% block block_content %}
		<div class="panes {{ carousel ? 'carousel' : '' }}">
			{% for slide in slides %}

				{% set bg = false %}
				{# Vars for handling two different BG image methods, based on browser specs #}
				{% if slide.background_color == 'image' %}
					{% set bg = Image(slide.background_image) %}
					{% if is_internet_explorer() %}
						{% set ie_fallback = true %}
					{% endif %}
				{% endif %}

				<figure class="pane" data-background-color="{{ slide.background_color }}" {% if ie_fallback and bg %}style="background:url({{ bg }});"{% endif %}>
					{% if bg and ie_fallback is null %}
						<img class="background-image" src="{{ bg.src }}" srcset="{{ bg.srcset }}" />
					{% endif %}
					<figcaption class="copy">
						{{slide.copy}}
						<div class="links">
							{% for link in slide.links %}
								<a class="btn {{ link.link_style }} {{ link.link_color }}" href="{{ link.link.url }}">{{ link.link.title }}</a>
							{% endfor %}
						</div>
						{% if slide.show_app_icons %}
							{% include 'blocks/app-icons/app-icons.twig' %}
						{% endif %}
						{% if slide.show_arrow_watermark %}
							<img src="{{ site.theme.link }}/assets/img/image-watermark.svg" class="image-arrow" />
						{% endif %}
					</figcaption>
				</figure>
			{% endfor %}
		</div>
	{% endblock %}
{% endembed %}
