{#
	Title: Hero
	Description: Hero as either single image/content or carousel.
	Category: triumph-blocks
	Icon: format-image
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leadership partners
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
#}

{% if slides is not defined %}
	{% set slides = fields.slides %}
{% endif %}

{% set carousel = (slides|length > 1 ? true : false) %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'hero' } %}
	{% block block_content %}

		<div class="hero-panes {{ carousel ? 'carousel' : '' }}">
			{% for slide in slides %}

				{% set bg = false %}

				{% if slide.background_color == 'image' %}
					{% set bg = Image(slide.background_image) %}
					{% set brightness = (100 - slide.background_darkness_overlay|number_format) ~ '%' %}
					{% if is_internet_explorer() %}
						{% set ie_fallback = true %}
						{% set rgba = 'rgba(0,0,0,0.' ~ slide.background_darkness_overlay ~ ')' %}
					{% endif %}
				{% endif %}
				
					<div class="hero-pane" data-background-color="{{ slide.background_color }}" {% if ie_fallback and bg %}style="background:linear-gradient({{ rgba }}, {{ rgba }}), url({{ bg }});"{% endif %}>

						{% if bg and ie_fallback is null %}
							<img style="filter:brightness({{ brightness }});" class="background-image" src="{{ bg.src }}" srcset="{{ bg.srcset }}" data-object-fit="cover" />
						{% endif %}

						<div class="hero-copy-wrapper container-lg">
							<div class="hero-copy">
								{{slide.copy}}
								<div class="button-group">
									{% for link in slide.links %}
										{% if 'simple' in link.link_style %}
											{% set link_type = '' %}
										{% else %}
											{% set link_type = 'btn' %}
										{% endif %}
										<a class="{{ link_type }} {{ link.link_style }} {{ link.link_color }}" href="{{ link.link.url }}">{{ link.link.title }}</a>
									{% endfor %}
								</div>

								{% if slide.show_app_icons %}
									{% include 'blocks/app-icons/app-icons.twig' %}
								{% endif %}

								
							</div>
							
						</div>
						{% if slide.show_arrow_watermark %}
							<svg class="image-arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
								<style type="text/css">
									.primary{
										fill-rule:evenodd;
										clip-rule:evenodd;
										fill:{{ function('get_theme_mod','triumph_color_primary') }};
										}
								</style>
								<polygon class="primary" points="155,45 155,155 45,155 0,200 155,200 200,200 200,155 200,0 "/>
							</svg>
						{% endif %}

						{% if slide.show_chevron %}
							<svg class="hero-chevron" xmlns="http://www.w3.org/2000/svg" width="800" height="500" viewBox="0 0 800 500">
								<polygon points="0 0 250 250 0 500 550 500 800 250 550 0 0 0"/>
							</svg>
						{% endif %}
					</div>
			
			{% endfor %}
		
	</div>
	{% endblock %}
{% endembed %}











