{#
	Title: Hero
	Description: Hero as either single image/content or carousel.
	Category: triumph-blocks
	Icon: format-image
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leader partner service
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
	SupportsAnchor: true
	SupportsCustomClassName: true
#}

{% if slides is not defined %}
	{% set slides = fields.slides %}
{% endif %}

{% set carousel = (slides|length > 1 ? true : false) %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' %}
	{% block block_content %}

		<div class="hero-panes fade-in {{ carousel ? 'carousel' : '' }}">
			{% for slide in slides %}

				{% set bg = false %}

				{% if slide.background_color == 'image' %}
					{% set bg = Image(slide.background_image) %}
					{% set brightness = (100 - slide.background_darkness_overlay|number_format) ~ '%' %}
					{% if is_internet_explorer() %}
						{% set ie_fallback = true %}
						{% set rgba = 'rgba(0,0,0,0.' ~ slide.background_darkness_overlay ~ ')' %}
					{% endif %}
				{% endif %}
				
					<div class="hero-pane " data-background-color="{{ slide.background_color }}" {% if ie_fallback and bg %}style="background:linear-gradient({{ rgba }}, {{ rgba }}), url({{ bg }});"{% endif %}>

						{% if bg and ie_fallback is null %}
							<img style="filter:brightness({{ brightness }});" class="background-image" src="{{ bg.src }}" srcset="{{ bg.srcset }}" alt="{{ bg.alt }}" data-object-fit="cover" loading="lazy" />
						{% endif %}

						<div class="hero-copy-wrapper container-lg">
							<div class="hero-copy">
								{{slide.copy}}
								<div class="button-group">
									{% for link in slide.links %}
										{% include 'blocks/link/link.twig' %}
									{% endfor %}
								</div>

								{% if slide.show_app_icons %}
									{% include 'blocks/app-icons/app-icons.twig' %}
								{% endif %}

								
							</div>
							
						</div>
						{% if slide.corner_cross_hair %}
							{% include 'blocks/crosshair/crosshair.twig' %}
						{% endif %}
					</div>
			
			{% endfor %}
		
	</div>
	{% endblock %}
{% endembed %}











