<a class="search-result search-result-{{post.post_type}}" id="search-result-{{post.ID}}" href="{{ post.link }}">
	{% block content %}
		<h2>{{post.title}}</h2>
		{{ post.preview.length(50).read_more(false)}}
	{% endblock %}
</a>