{#
	Title:Process Steps
	Description: Steps in a process
	Category: triumph-blocks
	Icon: editor-ol
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leader partner service
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
	SupportsAnchor: true
	SupportsCustomClassName: true
#}
{% set orientation = fields.step_orientation ? fields.step_orientation : '' %}
{% set width = (100 - (100 / fields.steps|length))|round(3, 'floor') %}
{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'process-steps ' ~ orientation } %}
	{% block block_content %}
		{% if fields.copy %}
			<div class="copy">
				{{ fields.copy }}
			</div>
		{% endif %}
		{% if orientation == 'horizontal' %}
			<div class="process-steps-spacer" style="width:{{ width }}%;"></div>
		{% endif %}
		<ol class="process-steps-list">
			{% for step in fields.steps %}
				<li>{{step.copy}}</li>
			{% endfor %}
		</ol>
		{% if orientation == 'horizontal' %}
			{% if fields.outro_copy %}
				<div class="process-step-outro-copy">{{ fields.outro_copy }}</div>
			{% endif %}

			{% if fields.links %}
				{% set fields = fields|merge({alignment: 'center'}) %}
				<div class="process-step-buttons button-group" data-alignment="{{ fields.alignment }}">
					{% for link in fields.links %}
						{% include 'blocks/link/link.twig' %}
					{% endfor %}
				</div>
			{% endif %}
		{% endif %}
	{% endblock %}
{% endembed %}