<section class="{{ blockName }} {{ block.classes ? block.classes : '' }} section-wrapper" {{ block.id ? 'data-' ~ block.id : '' }} data-background-color="{{ fields.background_color }}">

	{% if fields.background_color == 'image' and fields.background_image %}
		{% set image = Image(fields.background_image) %}
		<img class="background" src="{{ image.src }}" srcset="{{ image.srcset }}" alt="{{ image.alt ? image.alt : 'section background' }}">
	{% endif %}

	<div class="layout-wrapper {{ fields.width }}">
		{% block block_content %}
				
		{% endblock %}
	</div>

</section>