<section class="section-wrapper {{ blockName }} {{ block.classes ? block.classes : '' }}" {{ block.id ? 'data-' ~ block.id : '' }} data-background-color="{{ fields.background_color }}">

	{% if fields.background_color == 'image' and fields.background_image %}
		{% set image = Image(fields.background_image) %}
		<img class="background" data-object-fit="cover" src="{{ image.src }}" srcset="{{ image.srcset }}" alt="{{ image.alt ? image.alt : 'section background' }}" loading="lazy">
	{% endif %}

	<div class="layout-wrapper {{ fields.width }}">
		{% block block_content %}
				
		{% endblock %}
	</div>

</section>