{% set alert = Post(alert) %}

<aside id="{{ alert.slug }}-{{ alert.id }}" data-open="false" class="alert-banner">
	{{ border }}
	<div class="alert-banner-content-wrapper">
		<div class="alert-icon">{{ alert.meta('icon') ? alert.meta('icon') : '<i class="far fa-bell"></i>' }}</div>
        <div class="alert-message">
            {{ alert.content }}
        </div>
        <button class="alert-close" aria-label="Close the Alert"><span class="hidden">Close</span><i class="fal fa-times"></i></button>
	</div>
</aside>
