<div class="share-buttons">
	<p class="label">Share:</p>
	<ul class="share-links">
        <li>
            <a class="share-link facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}">
                <i class="fab fa-lg fa-facebook-square"></i> <span class="hidden">Share to Facebook</span>
            </a>
        </li>
        <li>
            <a class="share-link twitter" href="https://twitter.com/intent/tweet?url={{ post.link }}">
                <i class="fab fa-lg fa-twitter-square"></i> <span class="hidden">Share to Twitter</span>
            </a>
        </li>
        <li>
            <a class="share-link email" href="mailto:?subject={{ post.title }}&body=Learn more about this topic by visiting the {{ site.name }} website: {{ post.link }}">
                <i class="fas fa-lg fa-envelope"></i> <span class="hidden">Share via Email</span>
            </a>
        </li>
    </ul>
</div>