{#
  Title:Testimonial Carousel
  Description: A sliding list of testimonials
  Category: triumph-blocks
  Icon: editor-ol
  Keywords: 
  Mode: edit
  Align: left
  PostTypes: post page partners
  SupportsAlign: false
  SupportsMode: false
  SupportsMultiple: true
#}

{% if testimonials is not defined %}
	{% set testimonials = fields.testimonials %}
{% endif %}

{% if fields.background_color == "white" %}
	{% set icon = "carousel-arrow-primary.png" %}
{% else %}
	{% set icon = "carousel-arrow.png" %}
{% endif %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'testimonial-carousel' } %}
	{% block block_content %}
		<ul class="testimonials {{ fields.show_arrow_navigation ? "arrows" : "" }}">
			{% for testimonial in testimonials %}
				<li class="testimonial">
					{% set name = testimonial.customer_name %}
					{% set title = (testimonial.customer_title_and_company ? testimonial.customer_title_and_company : "") %}
					{% set city = (testimonial.customer_location ? testimonial.customer_location : "") %}
					<blockquote>
						{{ testimonial.post_content }}
						<cite>
							{% if name %}
								{% if title == "" and city == "" %}
									<h4 class="customer-name">{{ name }}</h4>
								{% else %}
									<h3 class="customer-name">{{ name }}</h3>
								{% endif %}
							{% endif %}
							{% if title %}
								<h4 class="customer-title">{{ title }}</h4>
							{% endif %}
							{% if city %}
								<h4 class="customer-city">{{ city }}</h4>
							{% endif %}
						</cite>
					</blockquote>
				</li>
			{% endfor %}
		</ul>	
	{% endblock %}
{% endembed %}