{#
	Title:Testimonial Carousel
	Description: A sliding list of testimonials
	Category: triumph-blocks
	Icon: editor-ol
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leader partner service
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
	SupportsAnchor: true
	SupportsCustomClassName: true
#}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'testimonial-carousel' } %}
	{% block block_content %}
		<ul class="testimonials {{ fields.show_arrow_navigation ? "arrows" : "" }}">
			{% for testimonial in fields.testimonials %}
				<li class="testimonial">
					<blockquote>
						{{ testimonial.post_content }}
						<cite>
							{% if testimonial.customer_name %}
								<h3 class="customer-name">{{ testimonial.customer_name }}</h3>
							{% endif %}
								
							{% if testimonial.customer_title_and_company or testimonial.customer_location %}
								<h4 class="customer-details">
									{{ testimonial.customer_title_and_company ? testimonial.customer_title_and_company : '' }}
									{{ testimonial.customer_title_and_company and testimonial.customer_location ? ' / ' : ''}}
									{{ testimonial.customer_location ? testimonial.customer_location : '' }}
								</h4>
							{% endif %}
						</cite>
					</blockquote>
				</li>
			{% endfor %}
		</ul>	
	{% endblock %}
{% endembed %}