{% set level = 0 %}
<nav id="menu" class="menu" role="navigation">
	<a class="menu-logo" href="{{site.url}}" rel="home" title="{{site.name}}" aria-label="Home">
		<img src="{{ site_logo_src() }}" alt="{{site.name}} Logo">
		<h2 class="site-name hidden">{{site.name}}</h2>
	</a>
	<button id="menu-toggle-button" class="menu-toggle" aria-label="menu toggle">
		<span></span>
		<span></span>
		<span></span>
	</button>

	<div id="menu-toggle-target" class="main-menu-wrapper" data-menu-state="closed">

		{% if menu.headerNav %}
			{% include 'blocks/menu-list/menu-list-header.twig' with {items: menu.headerNav.get_items, name: 'menu-header-nav'} %}
		{% elseif menu.headerMegaNav %}
			{% include 'blocks/menu-list/menu-list-header.twig' with {items: menu.headerMegaNav.get_items, name: 'menu-header-mega-nav'} %}
		{% endif %}

		{% if menu.headerUtility %}
			{% include 'blocks/menu-list/menu-list-header.twig' with {items: menu.headerUtility.get_items, name: 'menu-header-utility'} %}
		{% endif %}

		{% if menu.headerButtons %}
			{% include 'blocks/menu-list/menu-list-buttons.twig' with {items: menu.headerButtons.get_items, name: 'menu-header-buttons'} %}
		{% endif %}
{#
		{% if menu.headerRegister %}
			{% include 'blocks/menu-list/menu-list.twig' with {items: menu.headerRegister.get_items, name: 'menu-header-register'} %}
		{% endif %}

		

		{% if menu.headerGetStarted %}
			{% include 'blocks/menu-list/menu-list.twig' with {items: menu.headerGetStarted.get_items, name: 'menu-header-get-started', isButton:'true'} %}
		{% endif %}
#}
	</div>
</nav>