{% set level = 0 %}
<nav id="menu" class="menu" role="navigation">
	<a class="menu-logo" href="{{site.url}}" rel="home" title="{{site.name}}" aria-label="Home">
		<img src="{{ site_logo_src() }}" alt="{{site.name}} Logo">
		<h2 class="site-name hidden">{{site.name}}</h2>
	</a>
	<button id="menu-toggle-button" class="menu-toggle" aria-label="menu toggle">
		<span></span>
		<span></span>
		<span></span>
	</button>

	<div id="menu-toggle-target" class="main-menu-wrapper" data-menu-state="closed">

		{% if menu.headerNav %}
			{% include 'blocks/menu-list/menu-list-header.twig' with {items: menu.headerNav.get_items, name: 'menu-header-nav'} %}
		{% elseif menu.headerMegaNav %}
			{% include 'blocks/menu-list/menu-list-header.twig' with {items: menu.headerMegaNav.get_items, name: 'menu-header-mega-nav'} %}
		{% endif %}

		{% if menu.headerUtility %}
			{% include 'blocks/menu-list/menu-list-header.twig' with {items: menu.headerUtility.get_items, name: 'menu-header-utility'} %}
		{% endif %}

		{% if menu.headerButtons %}
			{% include 'blocks/menu-list/menu-list-buttons.twig' with {items: menu.headerButtons.get_items, name: 'menu-header-buttons'} %}
		{% endif %}

	</div>
    {% if menu.headerQuickLinks %}
        <div id="menu-search">
            {% include 'blocks/menu-list/menu-list.twig' with {items: menu.headerQuickLinks.get_items, name: 'menu-header-quick-links'} %}
            <button class="menu-search"><i class="fas fa-search"></i> Search</button>
        </div>
        <div id="menu-search-content">
            <button class="close"><i class="fal fa-times"></i><span class="hidden">Close</span></button>
            <div class="search-wrapper">
                
                <div class="search-links">
                    <label>Popular Searches</label>
                    {% if menu.headerSearch %}
                        {% include 'blocks/menu-list/menu-list.twig' with {items: menu.headerSearch.get_items, name: 'menu-header-search'} %}
                    {% endif %}
                </div>

                <div class="search-form">
                    <label>Search</label>
                    <form name="site-search" role="search" method="get" class="form-inline" action="?s">
                        <input name="s" id="menu_s" type="search" placeholder="Search" />
                        <button class="btn primary"><i class="fas fa-search"></i><span class="hidden">Search</span></button>
                    </form>
                    <div class="search-message">
                        Didn't find what you're looking for? Contact us.
                    </div>
                </div>
                
            </div>
        </div>
		{% endif %}
    
</nav>