{#
  Title: Content Grid
  Description: Content Grid
  Category: triumph-blocks
  Icon: grid-view
  Keywords: 
  Mode: edit
  Align: left
  PostTypes: post page
  SupportsAlign: false
  SupportsMode: false
  SupportsMultiple: true
#}

{% if fields.alternative_background_margin %}
	{% set class = 'content-grid alternative-background-margin' %}
{% else %}
	{% set class = 'content-grid' %}
{% endif %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: class } %}
	{% block block_content %}
		{% if fields.grid_copy %}
			<div class="content-grid-copy {{ fields.grid_copy_width }}">
				{{ fields.grid_copy }}
			</div>
		{% endif %}
		<ul class="content-grid-list {{ fields.grid_items|length is divisible by(4) ? 'four-up' : '' }}" data-align={{ fields.grid_item_alignment }}>
		{% for grid_item in fields.grid_items %}
			<li class="content-grid-item grid-item-{{ fields.grid_item_style }}">
				{% if grid_item.image %}
					<div class="grid-item-header {{ fields.grid_item_image_style }}">
						{% set image = Image(grid_item.image) %}
						<img src="{{ image.src }}" srcset="{{ image.srcset }}" {{ fields.grid_item_image_style == 'icon' ? '' : 'data-object-fit="cover"' }} />
					</div>
				{% endif %}

				{% if grid_item.copy %}
					<div class="grid-item-copy">
						{{ grid_item.copy }}
					</div>
				{% endif %}

				{% if grid_item.link.link.url  %}
					{% if 'simple' in grid_item.link.link_style %}
						{% set link_type = '' %}
					{% else %}
						{% set link_type = 'btn' %}
					{% endif %}
					<div class="grid-item-footer">
						<a class="{{ link_type }} {{ grid_item.link.link_style }}" href="{{ grid_item.link.link.url }}">{{ grid_item.link.link.title }}</a>
					</div>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
    {% endblock %}
{% endembed %}
