{#
	Title: Account Features
	Description: List the features of the selected account
	Category: triumph-blocks
	Icon: money-alt
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leader partner service
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
	SupportsAnchor: true
	SupportsCustomClassName: true
#}


{% set account_details = function('account_features', fields.account) %}
{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'account-features' } %}
	{% block block_content %}
		{% if fields.intro_copy %}
			{% include 'blocks/intro-copy/intro-copy.twig' %}
		{% endif %}
		<ul class="account-features-list">
			{% for feature in account_details.features %}
				<li>{{ feature }}</li>
			{% endfor %}
		</ul>
		<div class="disclaimer small">
			{% if account_details.legal %}
				<p>{{ account_details.legal }}</p>
			{% endif %}
			<ol>
				{% for disclaimer in account_details.disclaimers %}
					<li id="{{ block.id }}-disclaimer-{{ loop.index }}">{{ disclaimer }}</li>
				{% endfor %}
			</ol>
		</div>
	
	{% endblock %}
{% endembed %}

