{#
  Title:Info Carousel
  Description: Informational Carousel
  Category: triumph-blocks
  Icon: thumbs-up
  Keywords: 
  Mode: edit
  Align: left
  PostTypes: post page account service leadership
  SupportsAlign: false
  SupportsMode: false
  SupportsMultiple: true
#}


{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'info-carousel' } %}
	{% block block_content %}
	<h2 class="info-carousel-heading-mobile">{{ fields.heading }}</h2>
		<div class="slide-images-wrapper">
			<div class="slide-images">
				{% for slide in fields.slides %}

					<div class="info-carousel-slide-image" data-content-id="{{ loop.index }}" data-active="{{ loop.index == 1 ? 'true' : 'false' }}" data-position="{{ loop.index }}">
						<img src="{{ Image(slide.image).src }}" srcset="{{ Image(slide.image).srcset }}" />
					</div>

				{% endfor %}
			</div>
		</div>
		<div class="slide-copy-wrapper">
			<h2 class="info-carousel-heading-desktop">{{ fields.heading }}</h2>
			{% for slide in fields.slides %}
				<div class="info-carousel-slide-copy" data-content-id="{{ loop.index }}" data-active="{{ loop.index == 1 ? 'true' : 'false' }}" data-position="{{ loop.index }}">
					{{ slide.copy }}
				</div>
			{% endfor %}
		</div>
	{% endblock %}
{% endembed %}
