{#
	- accepts parameter called iconBlock.
		- iconBlock has three params: icon, copy, link
	- accepts parameter called index
		- index says what number this item is in the grid
#}
{% set image = Image(iconBlock.icon) %}

<div class="icon-block block-{{ loop.index }}">
	<div class="content">
		<img src="{{ image.src }}" srcset="{{ image.srcset }}" />
		{{ iconBlock.copy }}
	</div>

	<a class="simple" href="{{ iconBlock.link.url }}">{{ iconBlock.link.title }}</a>
</div>