<div class="blog-filter">
	<h3>Search</h3>
	<form name="list-search" class="form-inline">
		<input class="search" type="search" placeholder="Search" />
		<button class="btn primary"><i class="fas fa-search"></i><span class="hidden">Search</span></button>
	</form>
	
	<div id="filters">
		<h3>Categories</h3>
		<ul class="filter-category">
			{% for category in categories %}
				<li>
					<label class="checkbox-custom">{{category.title}}
						<input class="filter-input" data-filter="categories" data-title="{{ category.title }}" type="checkbox" value="{{ category.slug }}" />
						<i class="far fa-check-square"></i><i class="far fa-square"></i>
					</label>
				</li>
			{% endfor %}
		</ul>
		<h3>Archive</h3>
		<ul class="filter-years">
			{% for year in 2018.."now"|date("Y") %}
				<li>
					<label class="checkbox-custom">{{year}}
						<input class="filter-input" data-filter="year" type="checkbox" data-title="{{ year }}" value="{{ year }}" />
						<i class="far fa-check-square"></i><i class="far fa-square"></i>
					</label>
				</li>
			{% endfor %}
		</ul>
	</div>
	<button data-toggle-id="filters" class="btn primary border"><span class="toggle-status"></span> Filters</button>
</div>