{#
	Title: FAQs
	Description: Frequently Asked Questions
	Category: triumph-blocks
	Icon: editor-help
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leader partner service
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: false
	SupportsAnchor: true
	SupportsCustomClassName: true
#}

{{ function('add_list_js') }}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' %}
	{% block block_content %}
		{% if fields.intro_copy %}
			{% include 'blocks/intro-copy/intro-copy.twig' %}
		{% endif %}
		<div id="faqs-list" {{ fields.show_category_filter ? 'class="faqs-with-filter"' : '' }} >
			{% if fields.show_category_filter %}
				{% set categories = function('triumph_faq_categories', fields.faqs) %}
				<div class="faq-filter">
					{% if fields.show_search %}
						<h3>Search</h3>
						<form name="faq-search" class="form-inline">
							<input id="faq-search" name="faq-search" class="search" type="search" placeholder="Search" />
							<label class="hidden" for="faq-search">Search</label>
							<button class="btn primary" aria-label="Search FAQs"><i class="fas fa-search"></i><span class="hidden">Search</span></button>
						</form>
					{% endif %}	
					
					<div id="filters">
						<h3>Categories</h3>
						<ul class="filter-category">
							{% for category in categories %}
								<li>
									<label class="checkbox-custom">{{category}}
										<input class="faq-filter-input" data-filter="categories" data-title="{{ category }}" type="checkbox" value="{{ category }}" />
										<i class="far fa-check-square"></i><i class="far fa-square"></i>
									</label>
								</li>
							{% endfor %}
						</ul>
					</div>
					<button data-toggle-id="filters" class="btn primary border"><span class="toggle-status"></span> Filters</button>
				</div>
			{% else %}
				{% if fields.show_search %}
					<form name="faq-search" class="form-inline">
						<input id="faq-search" name="faq-search" class="search" type="search" placeholder="Search" />
						<label class="hidden" for="faq-search">Search</label>
						<button class="btn primary" aria-label="Search FAQs"><i class="fas fa-search"></i><span class="hidden">Search</span></button>
					</form>
				{% endif %}		
			{% endif %}

			<ul class="faq-list list">
			{% for faq in fields.faqs %}
				<li>
					{% embed 'blocks/expand/expand.twig' %}
						{% block expand_trigger %}
							<p class="question">{{ faq.question }}</p>
							{% if fields.show_category_filter %}
								<div class="categories faq-categories">{{ faq.category }}</div>
							{% endif %}
						{% endblock %}
						{% block expand_content %}
							<div class="answer">{{ faq.answer }}</div>
						{% endblock %}
					{% endembed %}
				</li>
			{% endfor %}
			</ul>
		</div>
    {% endblock %}
{% endembed %}
